.vscode/**
.vscode-test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.yml

node_modules
# !node_modules/ngrx-uml
out/
src/
tsconfig.json
webpack.config.js